
html, body, .viewport
{ 

	height: 100%;
	font-family: 'Raleway', sans-serif;
 }

.viewport{
	position:relative;
}

.middle{
	display: flex;
	align-items: center;
}


.fixed{
	position: fixed;

}
.social{
	left:0%;
}
.us{
	right: 0%;
}
.us, .social{
	top: 30%	
}

.button{
	background-color: #000000;
	color: #fff;
	font-size: 20px;
	border-radius: 20px;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    
}

.button:hover{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	background-color: #000000;
	color: #fff;
}

.font-float{
	float: left;
	font-size: 5.0em;
}

.sp-float{
	padding-left: 9%;
	font-size: 15.0em;
	padding-top: 4%;
}

.sp-container{
	position: relative;
	display: inline-flex;
}

.pr-general{
	font-size: 1.75em;
}

.gradiant-bar{
	height: 50px;
	width: auto;
	background: #A0A0A0;
	background: -webkit-linear-gradient(to bottom, #A0A0A0, white); 
	background: -o-linear-gradient(to bottom, #A0A0A0, white); 
	background: -moz-linear-gradient(to bottom, #A0A0A0, white); 
	background: linear-gradient(to bottom, #A0A0A0, white);
}