
html, body, .viewport
{ 

	height: 100%;
	font-family: 'Raleway', sans-serif;
 }

.viewport{
	position:relative;
}

.middle{
	display: flex;
	align-items: center;
}


.fixed{
	position: fixed;

}
.social{
	left:0%;
}
.us{
	right: 0%;
}
.us, .social{
	top: 30%	
}

.button{
	background-color: #000000;
	color: #fff;
	font-size: 2.2em;
	border-radius: 1.0em;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    padding-right: 4%;
    padding-left: 4%;
}

.button:hover{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	background-color: #000000;
	color: #fff;
}

.images{
	display: block;
	width: 100%;
	height:auto;
}

.gradiant-bar{
	height: 50px;
	width: auto;
	background: #A0A0A0;
	background: -webkit-linear-gradient(to bottom, #A0A0A0, white); 
	background: -o-linear-gradient(to bottom, #A0A0A0, white); 
	background: -moz-linear-gradient(to bottom, #A0A0A0, white); 
	background: linear-gradient(to bottom, #A0A0A0, white);
	margin-top: 5%;
	margin-bottom: 5%;
}

.sp-button{
	padding-top: 10%;
}